<section id="about" class="mb-16">
  <h2 class="text-3xl font-bold mb-6 border-b-2 border-cyan-400 pb-2">Resumen Profesional NUEVO CAMBIO!!</h2>
  <p class="text-gray-300 leading-relaxed">
    Ingeniero en Sistemas proactivo con sólidas habilidades de desarrollo Full-stack, especializado en la creación de soluciones robustas tanto en Backend como en Frontend. Apasionado por la tecnología y con dominio del inglés, busco aplicar mis conocimientos en desarrollo de aplicaciones para contribuir al éxito de proyectos innovadores.
  </p>
</section>

