---
import { Icon } from 'astro-icon/components'
import { useTranslations, getLangFromUrl } from '../i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<section id="education" class="mb-16">
  <h2 class="text-3xl font-bold mb-6 border-b-2 border-cyan-400 pb-2">
    {t('education.title')}
  </h2>
  <div class="bg-gray-800 rounded-lg p-6 shadow-lg">
    <h3 class="text-xl font-bold text-gray-200 flex items-center gap-3">
      <Icon name="lucide:graduation-cap" class="size-7 text-cyan-400" />{
        t('education.degree')
      }
    </h3>
    <p class="text-cyan-400 font-semibold">Universidad Tecnológica de Panamá</p>
    <p class="text-gray-400 text-sm">{t('education.status')}</p>
  </div>
</section>
