---
import Layout from '../../layouts/Layout.astro'
import Hero from '../../components/Hero.astro'
import About from '../../components/About.astro'
import Skills from '../../components/Skills.astro'
import Projects from '../../components/Projects.astro'
import Education from '../../components/Education.astro'
import { languages } from '../../i18n/ui'

export function getStaticPaths() {
  return Object.keys(languages)
    .filter((lang) => lang !== 'es')
    .map((lang) => ({ params: { lang } }))
}
---

<Layout title="Portafolio | Ricardo Sanjur">
  <!-- Todo lo que está aquí adentro se pasará al <slot /> del Layout -->
  <div class="grid grid-cols-12 gap-6">
    <Hero />
    <About />
    <Skills />
    <Education />
    <Projects />
  </div>
</Layout>
